@model List<Product>
@{
    ViewData["Title"] = "Product List";
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-5">
            </div>
            <div class="col-7 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-plus-circle"></i>
                        <span class="ms-1">Create product</span>
                    </div>
                </a>
            </div>
        </div>

        <table id="tblData" class="mt-3 table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>



@section Scripts{

    <script src="~/js/product.js"></script>
}